* {
    box-sizing: border-box;
  }

  @media only screen and (min-width: 500px) {
    body {
      background-color:white;
    }

    div {
      text-align: center;
    }

    #primero,
    #segundo,
    #tercero {
      border: 2px solid white;
      border-radius: 5px;
      font-size: 15px;
      font-family: sans-serif;
    }
  }

  @media only screen and (max-width:800px) {

    /* para tablets: */
    body {
      background-color: #573416;
    }

    #primero,
    #segundo,
    #tercero {
      display: inline-block;
      margin: 2px;
      width: 100%;
      padding: 0;
      background: #F4F6F6;
      border: 2px solid black;
      font-family: Impact,Arial, Helvetica, sans-serif;
    }
  }

  @media screen and (min-width: 1025px) {

    #primero,
    #segundo,
    #tercero {
      display: inline-block;
      background-color: #948999;
      width: 50%;
      border-radius: 5px;
      border: 2px solid black;
      margin: 2px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .menu {
      width: 30px;
      font-size:20px ;
      text-align: center;
      border: 1px solid black;
      background-color: #17202A;
      color: white;
    }

    body {
      background: gainsboro;
      background-image: url(https://as2.ftcdn.net/jpg/02/15/12/33/500_F_215123311_kYcKJcgTfm4UrsdiCoiePBTqtyuMQSf1.jpg);
    }

    #segundo {
      float: left;
    }

    .right {
      background-color: #EC7063;
      font-size: 20px;
      font-family: Impact, sans-serif;
    }
  }
